*{
  padding: 0; border: 0; 
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

body{
  background-color:#E9FFF9;
  font-family: 'Nova Mono', monospace;
}

.title {
  font-family: 'Nova Mono', monospace;

}

h2 {

 font-family: 'Odor Mean Chey', serif;
}

h3 {
  font-family: 'Odor Mean Chey', serif;
}

.wrapper{
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  max-width: 1550px;
  padding-top: .5rem;
  width: 93%;
}

.main-header a{
  letter-spacing: .18rem;
    background-color: #E0B7B7;
    padding: 10px;
    border-bottom: 5px solid lightgreen;
  }

@media (max-width:900px) {
  .main-header a {
    font-size: 70%;
  }
}

.masthead{
  position: relative;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.masthead h1{
  transition-delay: 450ms;
}

.menu-toggle{
  cursor: pointer;
  width: 55px;
  z-index: 3;
}

.menu-toggle div{
  background-color: #4ed1ae;
  border-radius: 25px;
  box-shadow: 0px 3px 13px rgba(0,0,0,.3);
  height: 7px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(.13,.24,.35,1.64);
}

@media (max-width: 900px) {
  .menu-toggle div {
    border-radius: 25px;
    box-shadow: 0px 3px 13px rgba(0,0,0,.3);
    height: 3px;
  
  }
  }


.menu-toggle .one,
.menu-toggle .two{
  margin-bottom: 7px;
}


.main-contents{
  flex: auto;
}



.main-contents p{
 font-size: 1.1rem;
  letter-spacing: 1.7px;
  line-height: 1.35;
       color: black;
       transition-delay: 150ms;
       transition-duration: 850ms; 
}  

.main-nav-list::before,
.main-nav-list::after{
  background-color:#559F75;
  content:"";
  position: absolute;
  top: 0;
  height: 100vh;
  width: 0vw;
  transition: all 100ms ease-in-out 300ms;
}

.main-nav-list::before{
  left: 0;
  right: 0;
}
.main-nav-list::after{
  right: 0;
}

.main-nav-list ul{
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  z-index: 2000;
}

.main-nav-list a{
  display: block;
  font-size: 2rem;
  letter-spacing: 3px;
  margin-bottom: 15px;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  transition-delay: 130ms;
}

.main-nav-list .mobile-hide{
  display: none;
}

.menu-toggle.active .one{
  box-shadow: 0px 3px 13px rgba(0,0,0,.4);
  transform: translate(0, 14px) rotate(45deg);
}

.menu-toggle.active .two{
  background-color: transparent;
  box-shadow: none;
  transform: translateX(-55px);
}

.menu-toggle.active .three{
  box-shadow: 0px 3px 13px rgba(0,0,0,.4);
  transform: translate(0,-14px) rotate(-45deg);
}

.main-nav-list.active::before,
.main-nav-list.active::after{
  width: 50vw;
}
.main-nav-list.active ul{
  top: 50%;
  transform: translate(-50%,-50%);
  transition-delay: 560ms;
  transition-duration: 240ms;
  transition-timing-function: cubic-bezier(.1, .2, .3, 1.4);
}

.main-nav-list.active a{
  transition-delay: 600ms;
  opacity: 1;
}

.case-two-boxes-container {
  grid-gap: 25px;
  grid-template-columns: 1fr;
}

.fact-indiv {
  display: flex;
}

.fact-indiv img {
width: 50%;
  margin-right: 18px;
height: 25vw;
}
  

img {
padding: 10px;
}

@media (max-width:900px) {
.fact-indiv img {
  width: 100%;
  height: auto;
}  
  .fact-indiv {
    flex-direction: column;
    
  }
  .fact-indiv h3 {
    font-size: 15px;
   margin-left: 10px;
  }
.fact-indiv p {
  font-size: 10pxpx;
  margin-left: 8px;
}
}

.three-wide {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.third-container {
  padding: 2%;
}

.third-container h3 {
  font-size: 1.5rem;
}


  .third-container:last-child {
    border: none;
  }
  
  .secondary-cta {
    background-color: #C4B5E2;
    border-bottom: 2px solid #878787;
    border-radius: 5px;
    float:right;
    }
  
  @media (max-width: 900px) {
    .three-wide {
      flex-direction: column;
    }
    .third-container {
      border-right: none;
      border-bottom: 1px solid lightgray;
        }

    .secondary-cta {
      display: flex;
      align-items: center;
    }    
  }

.button{
    cursor: pointer;
    border: 1px solid #C4B5E2;
    text-align: center;
    padding: 10px 24px;
}

footer {
  display: flex;
  justify-content: center;
  color: black;
}